.terms {
    padding: 100px 0px;
    max-width:900px;
    & h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    & p {
        padding: 10px 0px;
    }
    & a {
        text-decoration: none;
        margin: 0px 8px;
        color: #7c66f1;
    }
}